<!DOCTYPE html>
<html lang="en" ng-app="feedReader">
<head>
  <meta charset="UTF-8">
  <title>Feed Reader</title>
  <script src="https://www.google.com/jsapi"></script>
  <script>
    google.load("feeds", "1");
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
  <script src="app/services/feed.js"></script>
  <script src="app/directives/feedItems.js"></script>
  <script src="app/directives/itemSummary.js"></script>
  <script src="app/directives/itemDetail.js"></script>
  <script src="app/controllers/feedManager.js"></script>
  <script src="app/app.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div ng-controller="feedManagerController">
    <select ng-model="feedUrl">
      <option ng-repeat="feed in feeds" value="{{feed.url}}" ng-selected="feed.url === feedUrl">{{ feed.name }}</option>
    </select>
    <feed-items url="{{feedUrl}}"></feed-items>
  </div>
</body>
</html>
