item-summary .stats .author:before {
  content: "by ";
}

item-summary .stats .published-date:before {
  content: "/ ";
}

item-summary .thumbnail {
  width: 200px;
  height: 110px;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  float: left;
  clear: both;
}
