<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="{{ entry.link }}">{{ entry.title }}</a></h3>
      <div class="text-muted">Published by
        <span class="author">{{ entry.author }}</span>
        on <span class="published-date">
          <time>{{ entry.publishedDate | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}</time>
        </span>
      </div>
    </div>
    <div class="panel-body">
      <div ng-bind-html="entry.content | to_trusted"></div>
    </div>
    <div class="panel-body" ng-repeat="mediaGroup in entry.mediaGroups">
      <media-group-display media="mediaGroup"></media-group>
    </div>
    <div class="panel-body">
      <a href="{{ entry.link }}" class="btn btn-default btn-block">Visit Website</a>
    </div>
  </div>
</div>
